@page
@model IndexModel
@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div>Alegeți o secțiune din listă pentru a modifica setările contului</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}