@{ 
    string mainPageDescription = "Adaugați noi utilizatori aplicației AzureDocs";
    string subtitle = "Încărcați un fișier Excel pentru a adauga noii utilizatori";
}
<div class="page-main-description">@mainPageDescription</div>
<div class="homepage-subtitle">@subtitle</div>
<form method="post" enctype="multipart/form-data" asp-controller="User" asp-action="ImportUser" style="margin-top:50px;">

    <div class="form-group">
        @(Html.DevExtreme().FileUploader()
        .ID("file-uploader")
        .Name("File")
        .Accept("application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, .xls, .xlsx")
        .SelectButtonText("Alegeți fisier").UploadButtonText("Incarcați fișier")
        .Multiple(false)
        .UploadMode(FileUploadMode.UseForm)
        .UploadUrl(Url.Action("ImportUser","Upload")))

        @(Html.DevExtreme().Button()
        .ID("button")
        .Text("Încarcă documente")
        .Type(ButtonType.Success)
        .UseSubmitBehavior(true)
    )
    </div>
</form>
