@page
@model RegisterModel
@{
    ViewData["Title"] = "Înregistrare";
    string privacyPolicyCheckText = "Sunt de acord cu politica de confidențialitate";
    string registerButtonText = "Înregistrare";
    string mainPageDescription = "Înregistrare AzureDocs";
}

<div class="page-main-description">@mainPageDescription</div>
<hr />

<div class="row">
    <div>
        <img src="~/registerIllustrHumans.svg" class="register-illustration-left" />
    </div>
    <div class="col-md-4 form-center">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.DadFirstNameInitial"></label>
                <input asp-for="Input.DadFirstNameInitial" class="form-control" />
                <span asp-validation-for="Input.DadFirstNameInitial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.EnrollmentNumber"></label>
                <input asp-for="Input.EnrollmentNumber" class="form-control" />
                <span asp-validation-for="Input.EnrollmentNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.GdprAgreed" type="checkbox" id="gdpr-check" />
                <label for="vehicle1">@privacyPolicyCheckText</label>
                <span asp-validation-for="Input.GdprAgreed" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@registerButtonText</button>
        </form>
    </div>
    <div>
        <img src="~/registerIllustration.svg" class="register-illustration-right" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
