body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*The logout button on the navbar*/
#logout {
    border: none;
    background-color: transparent;
}

/*Forms*/
form {
    padding-left: 20px;
    margin-bottom: 20px;
}

/*Navbar items for login*/
.nav-link text-black {
    margin-top: 0px;
    margin-left: auto;
}


/*Homepage*/
.homepage-title {
    text-align: center;
    font-weight: 200;
    font-size: 30px;
    font-family: Tahoma;
    margin-top: 30px;
    color: #54504F;
}

.homepage-subtitle {
    text-align: center;
    font-weight: 100;
    font-size: 18px;
    font-family: Tahoma;
    margin-top: 15px;
    color: #54504F;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.image-wrapper {
    text-align: center;
}

.home-illustation {
    max-width: 500px;
}

.left-column {
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}

.right-column {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

.homepage-link {
    text-decoration: none;
    font-family: Tahoma;
    font-size: 25px;
    color: black;
}

homepage-link:hover {
    color: blue;
}

.link-description {
    margin-bottom: 10px;
    color: #54504F;
}

/*Login, register*/
.col-md-3.login-container {
    margin-left: auto;
    margin-right: auto;
    background-color: #d9dbde;
    justify-content: center;
    border-radius: 10px;
}
#account{
    margin-top:20px;
    margin-bottom:20px;
}

.login-text {
    text-align: center;
    font-weight: 200;
    font-size: 30px;
    font-family: Tahoma;
    margin-top: 30px;
    color: #54504F;
}

img.login-illustration{
    max-width:300px;
    text-align:center;
}

img.register-illustration-left{
    max-width:300px;
    text-align:left;
    margin-top: 600px;
    padding-left:20px;
}

img.register-illustration-right{
    max-width:300px;
    text-align:right;
    margin-top:150px;
    padding-right:20px;
}

/*Generic components*/
.page-main-description {
    text-align: center;
    font-weight: 200;
    font-size: 30px;
    font-family: Tahoma;
    margin-top: 30px;
    color: #54504F;
}

#dataGridContainer {
    padding: 1em 1em 1em 1em;
}

.form-center{
    margin-left:auto;
    margin-right:auto;
}

/*File requests*/
#file-requests-tile {
    margin-bottom: 20px;
}

 /*Footer*/
footer {
    margin-top: auto;
    color:white;
}

 /*Qr codes*/
.generate-qr-btn-wrapper{
    margin-top:150px;
    text-align:center;
}