@{ 
    string footerTitle = "Despre AzureDocs";
    string firstFooterDescription = "AzureDocs este o aplicație web destinată managementului de documente al unei facultăți.";
    string secondFooterDescription = "Acest proiect folosește o gamă largă de tehnologii precum ASP.NET Core, sercivii Microsoft Azure, DevExpress ASP.NET Core Controls și multe altele.";

}
<footer class="bg-dark text-center text-lg-start">
    <div class="text-center p-3">
        <h5 class="text-capitalize">@footerTitle</h5>
        <p>@firstFooterDescription<br />
           @secondFooterDescription
        </p>
    </div>
</footer>