<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>

    <!--Fontawesome icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="~/styles/navbar.css" />

    <!--Devextreme-->
    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

    <script src="~/js/devextreme/jquery.js"></script>

    <script src="~/js/devextreme/dx.all.js"></script>

    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        @*<div class="container">*@
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Index"><i class="fa fa-fw fa-home"></i>Acasă</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Document" asp-action="List"><i class="fa fa-folder-open"></i>Documente disponibile</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link active" asp-controller="Document" asp-action="Claim"><i class="fa fa-file-alt"></i>Cerere documente</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link active" asp-controller="Qrcode" asp-action="Generate"><i class="fa fa-qrcode"></i>Management QR</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link active" asp-controller="Upload" asp-action="Send"><i class="fas fa-file-upload"></i>Încărcare documente</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link active" asp-controller="Document" asp-action="FileRequests"><i class="fas fa-file-upload"></i>Lista cereri</a>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </div>
        @*</div>*@
    </nav>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
