@model ListViewModel

@{
    string fileHeaderName = "Fisiere";
    string mainPageDescription = "Generare de coduri QR";
}

<div class="page-main-description">@mainPageDescription</div>
<form id="myform" method="post" enctype="multipart/form-data" asp-controller="QrCode" asp-action="DownloadArchiveQr">
    @Html.AntiForgeryToken()
    <input id="SelectedFileName" asp-for="SelectedFileName" type="hidden" />
    <input id="Username" asp-for="Username" value="@Model.ApplicationUser.UserName" type="hidden"/>
</form>

<div id="dataGridContainer">
    @(Html.DevExtreme().DataGrid()
            .ID("dataGrid")
            .ShowBorders(true)
            .ShowRowLines(true)
            .RowAlternationEnabled(false)
            .HoverStateEnabled(true)
            .Sorting(sorting => sorting.Mode(GridSortingMode.None))
            .DataSource(Model.BlobNames)
            .Columns(columns =>
            {
                columns.Add().DataField("BlobName").Caption(fileHeaderName);
            })
            .Selection(sel => sel.Mode(SelectionMode.Single))
            .OnSelectionChanged(@<text>
                <script>
                    function(row) {
                        var line = row.selectedRowsData[0].BlobName;
                        theForm = document.getElementById("myform");
                        document.getElementById("SelectedFileName").value = line
                        console.log(theForm);
                        theForm.submit();
                    }
                </script>
                </text>)
        )
</div>
